{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    Thank you for playing
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ topic.name }}</h5>
    <p class="card-text">Difficulty: {{ game_data.level }}</p>
    <p class="card-text">Score: {{ game_data.score }}/100</p>
    <a href="{% url 'game:topics' %}" class="btn btn-primary">Play Again</a>
  </div>
  <div class="card-footer text-muted">
    at {{ game_data.datetime }}
  </div>
</div>
{% endblock %}
